<div data-controller="register">
  <%= form_with url: users_path, method: :post, data: { controller: "register", register_target: "form" }, class: "w-full form-container" do |f| %>
    <div class="field" data-register-target="input">
      <%= f.label :email, class: "font-bold" %>
      <%= f.text_field :email, class: "border rounded p-2 w-full", data: { register_target: "input" } %>
    </div>

    <div class="field" data-register-target="input">
      <%= f.label :password, class: "font-bold" %>
      <%= f.password_field :password, class: "border rounded p-2 w-full", data: { register_target: "input" } %>
    </div>

    <div class="field" data-register-target="input">
      <%= f.label :password_confirmation, class: "font-bold" %>
      <%= f.password_field :password_confirmation, class: "border rounded p-2 w-full", data: { register_target: "input" } %>
    </div>

    <div>
      <%= hidden_field_tag :permission, 0 %>
      <%= hidden_field_tag :discount, 0 %>
      <%= hidden_field_tag :salt, "XYZ" %>
    </div>

    <div class="actions">
      <%= f.submit "Create Account", class: "submit-button" %>
    </div>
  <% end %>
</div>