<!DOCTYPE html>
<html>
  <head>
    <title>OnlineRetailShop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
    <!-- Navigation Links within the format controller -->
  <body>
    <nav class="navbar">
      <%= link_to 'Login',login_path, class: 'nav-link' unless logged_in? %>
      <%= link_to 'Home', root_path, class: 'nav-link' unless logged_in? %>
      <%= link_to 'Logout', logout_path, method: :delete, class: 'nav-link' if logged_in? %>
    </nav>

    <% flash.each do |key, message| %>
      <div class="flash <%= key %>"><%= message %></div>
    <% end %>

    <%= yield %>
  </body>
</html>
